/*
 * Contacts
 */

#contacts {
  .contact-list {
    .list-view;
  }
}

.contact-list {
  margin-bottom: 0px;
}

.filter-menu {
  li {
    &:not(.divider) {
      padding: 0.5em 1em 0em;

      button[data-value] {
        margin-bottom: 0.25em;
      }
    }

    &:last-child {
      padding-top: 0px;
      padding-bottom: 0.5em;
    }
  }
}

.contact-page {

  .contact-toolbar {
    .navbar;
//    .navbar-fixed-top;
  }

  .contact-role {
    display: block;
    margin: 1em;
  }
  .contact-stats {
    .table-big;
  }
}

.contact-history-page {
  .action-list {
    li {
      padding: 0.25em 0px;
      .role {
        margin-top: 1px;
        margin-right: 1em;
        float: right;
        font-size: 0.75em;
        color: @grayLight;
      }
    }
  }
}

.contact-transactions-page {
  .transaction-list {

  }
}