/*
Helpers, mixins, variables, overrides
*/

h6 {
  color: @grayLight;
  text-transform: uppercase;
}

#tagline {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 200;
  padding-bottom: 0.5em;
}

/*
 * Loading
 */

#loading,
#error-404 {
  .content {
    text-align: center;
    margin-top: 55%;
    p {
      font-size: 1.5em;
      font-weight: 200;
    }
    .progress {
      width: 50%;
      margin: 0.5em auto;
    }
  }
}