/*
Page
*/

body {
  margin-top: 40px;
}

.navbar-inner {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;

    .btn-group.pull-right {
      margin-right: 20px;
    }

  }
}

.navbar .brand {
  margin-left: 0px;
  i {
    vertical-align: middle;
    margin-top: -4px;
  }
}

.navbar-fixed-top {
  .navbar-inverse;
}

.nav {
  li {
    a.btn {
      padding: 0.25em 0.75em;
      color: @white;
      &:hover {
        .transition(none);
        .buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
        background-color: inherit;
      }
    }
  }
}

.bottom-bar {
  .navbar-inverse;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  .bottom-bar-inner {
    .border-radius(0px);
  }
}

.content.has-footer {
  margin-bottom: 40px;
}

.li-arrow {
  float: right;
}

.page {
  .content {
    position: relative;
    padding-top: 10px;

    &.full {
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }

    .list-placeholder-image {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .footer-nav {
    width: 100%;
    li {
      display: inline-block;
      float: none;
      &.active {
        border-top: 3px solid @btnInfoBackground;
        a {
          i {
            .opacity(100);
          }
        }
      }
      a {
        text-align: center;
        padding: 0.5em 1em;
        i {
          .opacity(50);
        }
        p {
          margin: 0px;
        }
      }
    }
  }
}

.list-view {
  li {
    a {
      #gradient > .vertical(darken(@white, 5%), darken(@white, 1%));
      .border-radius(0px);
      border-top: 1px solid darken(@white, 7%);
      padding: 0.75em 20px;
      margin: 0px;
      display: block;
      .name {
        font-size: 1.25em;
        font-weight: 200;
      }
      &:hover {
        #gradient > .vertical(darken(@white, 3%), darken(@white, 5%));
        text-decoration: none;
        color: inherit;
      }
      .role {
        float: right;
        margin-right: 1em;
        font-weight: 200;
      }
    }
  }
}