<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.littledrakedev.openpunch"
        version   = "1.2.0">
    <name>OpenPunch</name>

    <description>
        Easily track your group members' attendance.
    </description>

    <author href="http://openpunchapp.com" email="jon@littledrakedev.com">
        Little Drake Dev
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="portrait" />

    <icon src="icon.png" />
    <icon src="images/icon/android/op-icon-36x36.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="images/icon/android/op-icon-48x48.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="images/icon/android/op-icon-72x72.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="images/icon/android/op-icon-96x96.png"   gap:platform="android"    gap:density="xhdpi" />
    <icon src="images/icon/ios/op-icon-57x57.png"      gap:platform="ios"        width="57" height="57" />
    <icon src="images/icon/ios/op-icon-72x72.png"      gap:platform="ios"        width="72" height="72" />
    <icon src="images/icon/ios/op-icon-114x114.png"    gap:platform="ios"        width="114" height="114" />
    <icon src="images/icon/ios/op-icon-144x144.png"    gap:platform="ios"        width="144" height="144" />

    <gap:splash src="images/screen/ios/op-launch-320x480.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="images/screen/ios/op-launch-640x960.png"         gap:platform="ios"     width="640" height="960" />
    <gap:splash src="images/screen/ios/op-launch-640x1136.png"        gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="images/screen/ios/op-launch-768x1004.png"        gap:platform="ios"     width="768" height="1004" />
    <gap:splash src="images/screen/ios/op-launch-1536x2008.png"       gap:platform="ios"     width="1536" height="2008" />
</widget>