<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->

    <!-- 3rd party css -->
    <link href="js/backbone-forms/templates/default.css" rel="stylesheet" type="text/css" />
    <link href="js/backbone-forms/templates/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <title>OpenPunch</title>
  </head>
  <body>

    <!--
      SIGN IN
    -->
    <div id="sign-in" class="page hide">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="#index">OpenPunch</a>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <p id="tagline">Easily monitor and track your group members' attendance.</p>
          </div>
        </div><!--descrip-->
        <div class="row-fluid">
          <div class="span12">
            <div class="form-container"></div>
            <div class="form-error alert alert-error hide"></div>
          </div>
        </div><!--sign in-->
      </div><!--content-->
    </div><!--page-->

    <!--
      Loading
    -->
    <div id="loading" class="page hide">
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <p>Loading Data</p>
            <div class="progress progress-striped active">
              <div class="bar" style="width: 100%;"></div>
            </div>
            <!--<p><a href="#account/sign-in" class="btn btn-small">Cancel</a></p>-->
          </div>
        </div>
      </div><!--content-->
    </div><!--page-->

    <!--
      EVENTS
    -->
    <div id="events" class="page hide">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="#event">Events</a>
            <ul class="nav pull-right">
              <!--<li>
                <a id="refresh-events" href="#events">
                  <i class="icon-refresh icon-white"></i>
                </a>
              </li>-->
              <li>
                <a href="#events/new"><i class="icon-plus icon-white"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content has-footer container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <!-- <p class="swipe-up-notice hide"><i class="icon-hand-down"></i> Swipe down to load past events</p> -->
            <div class="delete-alert alert alert-success hide">
              <button class="close" data-dismiss="alert">×</button>
              <strong>Event deleted</strong>
            </div>
            <p class="list-placeholder-image list-placeholder">
              <img id="img-first-event" src="images/help-first-event.png" alt="Create your first event by clicking the plus sign" />
            </p>
            <ul id="events-list" class="unstyled">
              <!--event list-->
            </ul>
          </div>
        </div>
      </div><!--content-->
      <div class="bottom-bar navbar">
        <div class="bottom-bar-inner navbar-inner">
          <div class="container-fluid pagination-centered">
            <ul class="nav footer-nav">
              <li class="active">
                <a href="#events">
                  <i class="icon-calendar icon-white"></i>
                  <p>Events</p>
                </a>
              </li>
              <li>
                <a href="#contacts">
                  <i class="icon-user icon-white"></i>
                  <p>Contacts</p>
                </a>
              </li>
              <li>
                <a href="#account">
                  <i class="icon-cog icon-white"></i>
                  <p>Account</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--footer-->
    </div><!--page-->

    <script id="event-li-view-template" type="text/template">
      <a href="#events/<%= _id %>">
        <%= name %>
        <i class="li-arrow icon-chevron-right"></i>
        <span class="aside"><%= eventTime(dt_start) %> to <%= eventTime(dt_end) %></span>
      </a>
    </script>


    <!--
      EVENT DASHBOARD
    -->
    <script id="event-view-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a href="#events" class="brand">
                  <i class="icon-chevron-left icon-white"></i> <%= eventTitle(name) %>
                </a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <a href="#events/<%= _id %>/edit"><i class="icon-pencil icon-white"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content has-footer container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <p class="date"><i class="icon-calendar"></i> <%= eventDate(dt_start) %> &middot; <%= eventTime(dt_start)  %> to <%= eventTime(dt_end) %><p>
          </div>
        </div>
        <% if (status=='past') { %>
        <div class="row-fluid">
          <div class="event-status span12">
            <div class="alert alert-block alert-info">
              <h3>Event finished</h3>
              You can no longer check people into this event.
            </div>
          </div>
        </div>
        <% } else if (status=='future') { %>
        <div class="row-fluid">
          <div class="event-status span12">
            <div class="alert alert-block">
              <h3>Event coming soon</h3>
              You can start checking people into this event once it begins.
            </div>
          </div>
        </div><!--buttons-->
        <% } else { %>
        <div class="row-fluid">
          <div class="action-buttons span12">
            <div class="btn-group">
              <a href="#events/<%= _id %>/contacts" class="btn btn-large">
                <i class="icon-large-list"></i>
                <h3>Browse</h3>
              </a>
              <button class="init-scan btn btn-large">
                <i class="icon-large-qrcode"></i>
                <h3>Scan ID</h3>
              </button>
            </div>
          </div>
        </div><!--buttons-->
        <% } %>
        <div class="row-fluid">
          <table class="event-stats table">
            <tbody>
            <tr>
              <td>Total Attendees</td>
              <td><%= totalAttendees %></td>
            </tr>
            <tr>
              <td>Last Check-In</td>
              <td><%= lastAttendeeName %></td>
            </tr>
            <tr>
              <td>Cost</td>
              <td><%= money(cost) %></td>
            </tr>
            </tbody>
          </table>
        </div><!--stats-->
      </div><!--content-->
      <div class="bottom-bar navbar">
        <div class="bottom-bar-inner navbar-inner">
          <div class="container-fluid pagination-centered">
            <ul class="nav footer-nav">
              <li class="active">
                <a href="#events/<%= _id %>/dashboard"><i class="icon-th-large icon-white"></i><p>Dashboard</p></a>
              </li>
              <li>
                <a href="#events/<%= _id %>/history"><i class="icon-time icon-white"></i><p>History</p></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--footer-->
    </script><!--event-->


    <!--
      EDIT EVENT
    -->
    <script id="event-edit-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a class="brand" href="#events/<%= _id %>">
                  <i class="icon-chevron-left icon-white"></i> Edit Event
                </a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <a href="#events/<%= _id %>/delete"><i class="icon-trash icon-white"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="form-container span12">
            <!--form-->
          </div>
        </div><!--buttons-->
      </div><!--content-->
    </script><!--page-->

    <script id="event-edit-modal-template" type="text/template">
      <div class="modal-body">
        <h3>Event saved</h3>
      </div>
      <div class="modal-footer">
        <!--<a data-toggle="modal" href="#event-edit-modal-<%= _id %>" class="btn">Continue Editing</a>-->
        <a href="#events/<%= _id %>" class="dismiss btn btn-primary">Done Editing</a>
      </div>
    </script>


    <!--
      CREATE EVENT
    -->
    <script id="event-create-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a class="brand" href="#events">
                  <i class="icon-chevron-left icon-white"></i> Create Event
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="form-container span12">
            <!--form-->
          </div>
        </div><!--buttons-->
      </div><!--content-->
    </script><!--page-->


    <!--
      EVENT CONTACTS
    -->
    <script id="event-contacts-view-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a class="brand" href="#events/<%= _id %>">
                  <i class="icon-chevron-left icon-white"></i>
                  Tap to check in/out
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <ul class="contact-list">
              <!--contacts-->
            </ul>
          </div>
        </div>
      </div><!--content-->
    </script><!--event contacts-->

    <script id="event-contact-view-template" type="text/template">
      <a href="#index">
        <!-- <i class="status <%= statusIconClass() %>"></i> -->
        <span class="name"><%= first %> <%= last %></span>
        <!--<i class="li-arrow icon-chevron-right"></i>-->
        <% if (lastSeenDate()) { %><span class="aside label <%= lastSeenLabelClass() %>"><%= lastSeenDate() %></span><% } %>
      </a>
    </script>


    <!--
      EVENT HISTORY
    -->
    <script id="event-history-view-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a href="#events" class="brand">
                  <i class="icon-chevron-left icon-white"></i> <%= eventTitle(name) %>
                </a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <a href="#events/<%= _id %>/edit"><i class="icon-pencil icon-white"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content has-footer container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <p class="list-placeholder">No check-ins yet.</p>
            <ul class="action-list unstyled">
              <!--contacts-->
            </ul>
          </div>
        </div>
      </div><!--content-->
      <div class="bottom-bar navbar">
        <div class="bottom-bar-inner navbar-inner">
          <div class="container-fluid pagination-centered">
            <ul class="footer-nav nav">
              <li>
                <a href="#events/<%= _id %>/dashboard"><i class="icon-th-large icon-white"></i><p>Dashboard</p></a>
              </li>
              <li class="active">
                <a href="#events/<%= _id %>/history"><i class="icon-time icon-white"></i><p>History</p></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--footer-->
    </script><!--event history-->

    <script id="event-action-view-template" type="text/template">
      <a href="#contacts/<%= contact._id %>"><%= contact.first %> <%= contact.last %></a> checked <%= status %>
      <span class="aside"><%= timestamp() %></span>
    </script>


    <!--
      CONTACTS
    -->
    <div id="contacts" class="page full hide">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="#contacts">Contacts</a>
            <div class="btn-group pull-right leave-open">
              <a id="filter-contacts" href="#" role="button" class="btn">
                <i class="icon-filter"></i>
              </a>
              <ul class="filter-menu dropdown-menu">
                <li class="filter-container">
                  <!-- filters -->
                </li>
                <li class="divider"></li>
                <li>
                  <button class="filter-button-close btn btn-block btn-danger">Close</button>
                </li>
              </ul>
              <a href="#contacts/new" class="btn">
                <i class="icon-plus"></i>
              </a>
            </div>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content has-footer container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <div class="delete-alert alert alert-success hide">
              <button class="close" data-dismiss="alert">×</button>
              <strong>Contact deleted</strong>
            </div>
            <p class="list-placeholder-image list-placeholder">
              <img id="img-first-contact" src="images/help-first-contact.png" alt="Create your first contact by clicking the plus sign" />
            </p>
            <ul class="contact-list">
              <!--contacts list-->
            </ul>
          </div>
        </div>
      </div><!--content-->
      <div class="bottom-bar navbar">
        <div class="bottom-bar-inner navbar-inner">
          <div class="container-fluid pagination-centered">
            <ul class="nav footer-nav">
              <li>
                <a href="#events">
                  <i class="icon-calendar icon-white"></i>
                  <p>Events</p>
                </a>
              </li>
              <li class="active">
                <a href="#contacts">
                  <i class="icon-user icon-white"></i>
                  <p>Contacts</p>
                </a>
              </li>
              <li>
                <a href="#account">
                  <i class="icon-cog icon-white"></i>
                  <p>Account</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--footer-->
    </div><!--page-->

    <script id="filter-menu-template" type="text/template">
      <li>
        <% _.each(filters, function(filter) { %>
        <button class="filter-button btn btn-block" data-toggle="button" data-value="<%= filter.value %>"><%= filter.label %></button>
        <% }) %>
      </li>
      <li class="divider"></li>
      <li>
        <button class="filter-button-close btn btn-block btn-danger">Close</button>
      </li>
    </script>

    <script id="contact-li-view-template" type="text/template">
      <a href="#contacts/<%= _id %>">
        <!-- <img src="images/<%= _id %>.png" alt="<%= last %> thumnail" /> -->
        <span class="name"><%= first %> <%= last %></span>
        <i class="li-arrow icon-chevron-right"></i>
        <span class="aside label"><%= role %></span>
      </a>
    </script>


    <!--
      CONTACT
    -->
    <script id="contact-view-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a href="#contacts" class="brand">
                  <i class="icon-chevron-left icon-white"></i> <%= last %><!--<%= firstLastInitial() %>-->
                </a>
              </li>
            </ul>
            <div class="btn-group pull-right">
              <a href="#contacts/<%= _id %>/transactions/new" class="add-credit btn btn-success">
                <i class="icon-plus icon-white"></i> $
              </a>
              <a href="#contacts/<%= _id %>/edit" class="btn">
                <i class="icon-pencil"></i>
              </a>
            </div>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content has-footer container-fluid">
        <div class="row-fluid">
          <table class="contact-stats table">
            <tbody>
            <tr>
              <td>First Name</td>
              <td><%= first %></td>
            </tr>
            <tr>
              <td>Last Name</td>
              <td><%= last %></td>
            </tr>
            <tr>
              <td>Role</td>
              <td><%= role %></td>
            </tr>
            <tr>
              <td>Manager Name</td>
              <td><%= manager.name || '-' %></td>
            </tr>
            <tr>
              <td>Manager Phone</td>
              <td><%= manager.phone || '-' %></td>
            </tr>
            <tr>
              <td>Check-Ins</td>
              <td><%= totalCheckIns() %></td>
            </tr>
            <tr>
              <td>Activity Time</td>
              <td><%= totalTime() %></td>
            </tr>
            <tr>
              <td>Balance</td>
              <td class="<%= balanceClass() %>"><%= money(balance()) %></td>
            </tr>
            </tbody>
          </table>
        </div><!--stats-->
      </div><!--content-->
      <div class="bottom-bar navbar">
        <div class="bottom-bar-inner navbar-inner">
          <div class="container-fluid pagination-centered">
            <ul class="nav footer-nav">
              <li class="active">
                <a href="#contacts/<%= _id %>/details"><i class="icon-user icon-white"></i><p>Details</p></a>
              </li>
              <li>
                <a href="#contacts/<%= _id %>/transactions"><span>$</span><p>Transactions</p></a>
              </li>
              <li>
                <a href="#contacts/<%= _id %>/history"><i class="icon-time icon-white"></i><p>History</p></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--footer-->
    </script><!--contact-->


    <!--
      EDIT CONTACT
    -->
    <script id="contact-edit-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a class="brand" href="#contacts/<%= _id %>">
                  <i class="icon-chevron-left icon-white"></i> Edit Contact
                </a>
              </li>
            </ul>
            <ul class="nav pull-right">
              <li>
                <a href="#contacts/<%= _id %>/delete"><i class="icon-trash icon-white"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="form-container span12">
            <!--form-->
          </div>
        </div>
      </div><!--content-->
    </script><!--page-->

    <script id="contact-edit-modal-template" type="text/template">
      <div class="modal-body">
        <h3>Contact saved</h3>
      </div>
      <div class="modal-footer">
        <!--<a data-toggle="modal" href="#contact-edit-modal-<%= _id %>" class="btn">Continue Editing</a>-->
        <a href="#contacts/<%= _id %>" class="dismiss btn btn-primary">Done Editing</a>
      </div>
    </script>


    <!--
      CREATE CONTACT
    -->
    <script id="contact-create-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a class="brand" href="#contacts">
                  <i class="icon-chevron-left icon-white"></i> Create Contact
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="form-container span12">
            <!--form-->
          </div>
        </div>
      </div><!--content-->
    </script><!--page-->


    <!--
      CONTACT TRANSACTIONS
    -->
    <script id="contact-transactions-view-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a href="#contacts" class="brand">
                  <i class="icon-chevron-left icon-white"></i> <%= last %><!--<%= firstLastInitial() %>-->
                </a>
              </li>
            </ul>
            <div class="btn-group pull-right">
              <a href="#contacts/<%= _id %>/transactions/new" class="add-credit btn btn-success">
                <i class="icon-plus icon-white"></i> $
              </a>
              <a href="#contacts/<%= _id %>/edit" class="btn">
                <i class="icon-pencil"></i>
              </a>
            </div>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content has-footer container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <div class="add-alert alert alert-success hide">
              <button class="close" data-dismiss="alert">×</button>
              <strong>Transaction added</strong>
            </div>
            <p class="list-placeholder">No transactions for this contact yet.</p>
            <table class="transaction-list table">
              <thead>
              <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Balance</th>
              </tr>
              </thead>
              <tbody>
              <!-- transaction <tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div><!--content-->
      <div class="bottom-bar navbar">
        <div class="bottom-bar-inner navbar-inner">
          <div class="container-fluid pagination-centered">
            <ul class="nav footer-nav">
              <li>
                <a href="#contacts/<%= _id %>/details"><i class="icon-user icon-white"></i><p>Details</p></a>
              </li>
              <li class="active">
                <a href="#contacts/<%= _id %>/transactions"><span>$</span><p>Transactions</p></a>
              </li>
              <li>
                <a href="#contacts/<%= _id %>/history"><i class="icon-time icon-white"></i><p>History</p></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--footer-->
    </script><!--contact transactions-->

    <script id="contact-transaction-tr-view-template" type="text/template">
      <td><%= simpleDate(dt_add) %></td>
      <% if (event) { %>
      <td><a href="#events/<%= event._id %>"><%= event.name %></a></td>
      <% } else { %>
      <td><%= type %></td>
      <% } %>
      <td class="right <%= amountClass() %>"><%= money(ledgerAmount()) %></td>
      <td class="right"><%= money(newBalance()) %></td>
      <!--<td class="right"><i class="icon-chevron-right"></i></td>-->
    </script>


    <!--
      Create transaction
    -->
    <script id="transaction-create-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a class="brand" href="#contacts/<%= contact_id %>">
                  <i class="icon-chevron-left icon-white"></i> Create Transaction
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="form-container span12">
            <!--form-->
          </div>
        </div>
      </div><!--content-->
    </script><!--page-->


    <!--
      CONTACT HISTORY
    -->
    <script id="contact-history-view-template" type="text/template">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <ul class="nav">
              <li>
                <a href="#contacts" class="brand">
                  <i class="icon-chevron-left icon-white"></i> <%= last %><!--<%= firstLastInitial() %>-->
                </a>
              </li>
            </ul>
            <div class="btn-group pull-right">
              <a href="#contacts/<%= _id %>/transactions/new" class="add-credit btn btn-success">
                <i class="icon-plus icon-white"></i> $
              </a>
              <a href="#contacts/<%= _id %>/edit" class="btn">
                <i class="icon-pencil"></i>
              </a>
            </div>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content has-footer container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <p class="list-placeholder">No actions for this contact yet.</p>
            <ul class="action-list unstyled">
              <!--contacts-->
            </ul>
          </div>
        </div>
      </div><!--content-->
      <div class="bottom-bar navbar">
        <div class="bottom-bar-inner navbar-inner">
          <div class="container-fluid pagination-centered">
            <ul class="nav footer-nav">
              <li>
                <a href="#contacts/<%= _id %>/details"><i class="icon-user icon-white"></i><p>Details</p></a>
              </li>
              <li>
                <a href="#contacts/<%= _id %>/transactions"><span>$</span><p>Transactions</p></a>
              </li>
              <li class="active">
                <a href="#contacts/<%= _id %>/history"><i class="icon-time icon-white"></i><p>History</p></a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--footer-->
    </script><!--contact history-->

    <script id="contact-action-view-template" type="text/template">
      Checked <%= statusVerb() %> <a href="#events/<%= event._id %>"><%= event.name %></a>
      <span class="aside"><%= timestamp() %></span>
    </script>

    <script id="inactive-contact-action-view-template" type="text/template">
      Checked <%= statusVerb() %> <a href="#events/<%= event._id %>"><%= event.name %></a>
      <span class="aside"><%= timestamp() %></span>
    </script>

    <!--
      Account
    -->
    <div id="account" class="page hide">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container-fluid">
            <a class="brand" href="#event">Account</a>
            <div class="btn-group pull-right">
              <a href="#account/sign-out" class="btn btn-small btn-danger pull-right">Sign Out</a>
            </div>
          </div>
        </div>
      </div><!--navbar-->
      <div class="content container-fluid">
        <div class="row-fluid">
          <div id="content-account" class="span12">
            <!-- account info -->
          </div>
        </div>
      </div><!--content-->
      <div class="bottom-bar navbar">
        <div class="bottom-bar-inner navbar-inner">
          <div class="container-fluid pagination-centered">
            <ul class="nav footer-nav">
              <li>
                <a href="#events">
                  <i class="icon-calendar icon-white"></i>
                  <p>Events</p>
                </a>
              </li>
              <li>
                <a href="#contacts">
                  <i class="icon-user icon-white"></i>
                  <p>Contacts</p>
                </a>
              </li>
              <li class="active">
                <a href="#account">
                  <i class="icon-cog icon-white"></i>
                  <p>Account</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div><!--footer-->
    </div><!--page-->

    <script id="account-view-template" type="text/template">
      <h6>Email</h6>
      <p><%= email %></p>
      <h6>User Role</h6>
      <p><%= role %></p>
      <h6>Account Name</h6>
      <p><%= account_name %></p>
      <h6>Sync</h6>
      <p>
        <button id="sync" class="btn btn-info">
          <i class="icon-refresh icon-white"></i> Sync with Salesforce
        </button>
      </p>
      <div id="sync-wait" class="hide">
        <div class="progress progress-striped active">
          <div class="bar" style="width: 100%;"></div>
        </div>
      </div>
      <p id="sync-report"></p>
    </script>

    <!--
    404
    -->
    <div id="error-404" class="page hide">
      <div class="content container-fluid">
        <div class="row-fluid">
          <div class="span12">
            <h3>404. Oops!</h3>
            <p>We couldn't find what you were looking for.</p>
            <p><a href="#account/sign-out" class="btn btn-small">Sign Out and Try Again</a></p>
          </div>
        </div>
      </div><!--content-->
    </div><!--page-->

    <!-- jQuery -->
    <script src="js/jquery/jquery-1.7.2.min.js" type="text/javascript"></script>

    <!-- Utilities -->
    <script src="js/json2.min.js" type="text/javascript"></script>
    <script src="js/underscore/underscore-1.3.3.min.js" type="text/javascript"></script>
    <script src="js/underscore/underscore.string-2.1.0.min.js" type="text/javascript"></script>
    <script src="js/xdate.js" type="text/javascript"></script>
    <script src="js/jquery/jquery.cookie.js" type="text/javascript"></script>

    <!-- Bootstrap -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap-typeahead-ajax.js"></script>

    <!-- Backbone -->
    <script src="js/backbone/backbone-0.9.2.min.js" type="text/javascript"></script>
    <script src="js/backbone-forms/backbone-forms.js"></script>
    <script src="js/backbone-forms/templates/bootstrap.js"></script>
    <script src="js/backbone/backbone.localStorage.js"></script>

    <script src="js/config.js" type="text/javascript"></script>
    <script src="js/openpunch.js" type="text/javascript"></script>

    <script type="text/javascript" src="cordova-2.1.0.js"></script>
    <script type="text/javascript" src="js/plugins/barcodescanner.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>

    <!--<script src="http://192.168.0.102:8081/target/target-script-min.js#anonymous"></script>-->

  </body>
</html>
